.tracklist {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    overflow-y: auto;
    border-radius: 0.7vw;
}

.emptyResults {
 font-size: 2vw;
 font-weight: 300;
 line-height: 1.25;
}

.emptyStateBox {
    width: 20vw;
    height: 100%;
}

::-webkit-scrollbar {
    width: 0.7vw;
    border-radius: 10vw;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff20;
    border-radius: 10vw;
}

@media only screen and (max-width: 992px) {
    .tracklist {
        border-radius: 0.81vw;
    }
    
    .emptyResults {
     font-size: 2.3vw;
    }
    
    .emptyStateBox {
        width: 23vw;
    }
    
    ::-webkit-scrollbar {
        width: 0.81vw;
        border-radius: 11.5vw;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 11.5vw;
    }
}

@media only screen and (max-width: 576px) {
    .tracklist {
        border-radius: 1.62vw;
    }
    
    .emptyResults {
     font-size: 4.6vw;
    }
    
    .emptyStateBox {
        width: 46vw;
    }
    
    ::-webkit-scrollbar {
        width: 1.62vw;
        border-radius: 23vw;
    }
    
    ::-webkit-scrollbar-thumb {
        border-radius: 23vw;
    }
}