.searchBarContainer {
    height: 4.5vw;
    width: 40vw;
    background-color: #f4f4f4;
    border-radius: 0.7vw;
    padding-left: 1.43vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.5vw;
}

.searchImage {
    height: 2.14vw;
    margin-right: 1.07vw;
}

input {
    width: 100%;
    border: none;
    background-color: transparent;
    font-weight: 400;
    font-size: 1.43vw;
    line-height: 1.2;
}

input:focus {
    outline: none;
}

input::placeholder {
    font-weight: 300;
    font-size: 1.14vw;
    color: #a5a5a5;
}

.searchButton {
    color: white;
    background-color: #000000;
    border: none;
    font-size: 1.43vw;
    font-weight: 700;
    padding: 0 2.14vw;
    height: 100%;
    border-radius: 0.7vw;
    cursor: pointer;
}

.searchButton:hover {
    color: #FFF0BB;
    background-color: #1b1b1b;
}