.playlistContainer {
    width: 100%;
    height: 100%;
    border-radius: 0.7vw;
    background-color: #130f00d6;
    padding: 2.14vw;
    margin-bottom: 0.7vw;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.playlistNameBox {
    height: 4.5vw;
    width: 70%;
    background-color: #fff2c2dc;
    border-radius: 0.7vw;
    padding-left: 1.25vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2.14vw;
}

.albumImage {
    height: 2.14vw;
    margin-right: 1.07vw;
}

.spotifyButton {
    color: black;
    background-color: #FFDD64;
    border: none;
    font-size: 1.29vw;
    font-weight: 700;
    padding: 0.9vw 2.14vw;
    border-radius: 0.7vw;
    cursor: pointer;
    margin: 1.79vw 0;
}

.spotifyButton:hover {
    background-color: #ffd22f;
}

.saveBtnBox {
    display: flex;
    justify-content: center;
}

.footerText {
    font-weight: 300;
    font-size: 0.82vw;
    line-height: 1.4;
    margin-bottom: 0;
    color: #9b9877;
  }
  
  ul {
    display: flex;
    list-style: none;
    padding-inline-start: 0;
    margin-left: 0.4vw;
  }
  
  .footerLink {
    height: 1vw;
    margin: 0 0.4vw;
  }